<!-- Import Base file  -->
{% extends 'inharite/base.html' %}



<!-- Import static file  -->
{% load static %}

<!-- Front home View  -->
{% block frontView %}
    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Clients Say!!</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Review</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}


<!-- Body Start -->

{% block body %}
    <!-- Testimonial Start -->


    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
                <h1 class="mb-5">Our Clients Say!!!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item bg-transparent border rounded p-4">
                    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                    <p>English food here is very good. It was a good start to a very fun day. You can try once</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-1.jpg' %}" style="width: 50px; height: 50px;">
                        <div class="ps-3">
                            <h5 class="mb-1">Rafsan The Choto bhai</h5>
                            <small>Food Vlogger</small>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item bg-transparent border rounded p-4">
                    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                    <p>The lunch experience here was amazing. It was a good start to a very fun day. You can try once</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-2.jpg' %}" style="width: 50px; height: 50px;">
                        <div class="ps-3">
                            <h5 class="mb-1">Fahrin Zannat</h5>
                            <small>Food Vlogger</small>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item bg-transparent border rounded p-4">
                    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                    <p>I actually liked the charming atmosphere. The food was also quite tasty</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-3.jpg' %}" style="width: 50px; height: 50px;">
                        <div class="ps-3">
                            <h5 class="mb-1">Rasif Shafiq & Ridhima Khan </h5>
                            <small>Food Vlogger</small>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item bg-transparent border rounded p-4">
                    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                    <p>I saw a peaceful environment It was The food was amazing. You can try.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-4.jpg' %}" style="width: 50px; height: 50px;">
                        <div class="ps-3">
                            <h5 class="mb-1">Kazi Tahsin Tonmoy </h5>
                            <small>Food Vlogger</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Testimonial End -->

{% endblock %}
